body, html{
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
}

body {
    color: #292929;
    min-height: 100%;
    box-sizing: border-box;
}

main {
    padding-top: 110px;

    &.no-padding {
        padding-top: 70px;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea, input, button {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    letter-spacing: 1px;
}

h2 {
    font-size: 28px;
    letter-spacing: 1px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.5;
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    &.bold, .bold, b {
        font-weight: bold !important;
    }

    &.light, .light {
        font-weight: 300 !important;
    }

    &.underline, .underline {
        text-decoration: underline !important;
    }

    &.normal, .normal{
        font-weight: normal !important;
    }

    &.uppercase, .uppercase {
        text-transform: uppercase !important;
    }
}

img, .image {
    max-width: 100%;

    &.circle {
        border-radius: 50%;
    }

    &.outline{
        border: 3px solid #ffffff;
        box-shadow: 2px 2px 25px #555555;
    }
}

ul {
    margin-top: 0px;
    margin-bottom: 25px;

    li {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.6;
    }
}

input[type=text], select, textarea {
    padding: 13px 24px;
    border-radius: 0px;
    background-color: #ffffff;
    border: 1px solid rgb(166, 166, 166);
    outline: none;

    &.block {
        display: block;
        width: 100%;
    }
}

.button, button {
    color: #ffffff;
    background-color: #57be2f;
    display: inline-block;
    margin-bottom: 10px;
    padding: 14px 36px;
    border: 1px solid darken(#57be2f, 10%);
    border-radius: 3px;
    font-size: 14px;
    text-shadow: 0px 0px 1px #888888;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: darken(#57be2f, 10%);
    }

    &.dark-gray {
        background-color: #666666;
        border: 1px solid lighten(#666666, 10%);

        &:hover {
            background-color: darken(#666666, 10%);
        }
    }

    &.block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.no-margin { margin: 0 !important; }

.anchor{
  display: block;
  height: 25px;
  margin-top: -50px;
  visibility: hidden;
}
