header#main-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    height: 70px;

    #mobile-links {
        display: none;

        a {
            font-size: 22px;
        }
    }

    ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 19px;

        li {
            display: inline-block;
            font-size: 18px;
            padding: 0;
            margin: 0;
            margin-left: 15px;

            a {
                color: #818181;
                font-family: 'Fjalla One', sans-serif;
                letter-spacing: 1px;

                &:hover, &.selected {
                    color: #292929;
                }
            }
        }
    }
}

#mobile-nav {
    display: none;
    background-color: #ffffff;
    position: fixed;
    max-width: 300px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 100001;
    border-left: 1px solid #c2c2c2;

    .close {
        text-align: right;
        padding: 10px 20px;
        border-bottom: 1px solid #c2c2c2;

        a {
            font-size: 24px;
            color: inherit;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        background-color: #f6f6f6;

        li {
            border-bottom: 1px solid #c2c2c2;
            margin: 0;

            a {
                display: inline-block;
                width: 100%;
                color: inherit;
                padding: 10px 20px;
                margin: 0;

                &:hover {
                    color: #ffffff;
                    background-color: #666666;
                }
            }
        }
    }
}

@media only screen and (max-width : 700px) {
    header#main-nav {
        #desktop-links {
            display: none;
        }

        #mobile-links {
            display: block;
        }
    }

    #mobile-nav {
        display: block;
    }
}
