#projects-list {
    .section.project {
        h2 {
            margin-bottom: 0px;
        }

        p.location {
            color: #555555;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}
